# Hyperledger Fabric
/temp/
**/wallet/*
**/node_modules/**
**/.cache/**

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env
frontend/node_modules/
backend/node_modules/
frontend/node_modules/.cache/default-development/8.pack
# Build artifacts
/build
/dist
frontend/build/
frontend/build/static/
frontend/build/static/js/
frontend/build/static/js/*.js
frontend/build/static/js/*.js.map
frontend/build/static/js/*.js.LICENSE.txt
frontend/build/asset-manifest.json
frontend/build/index.html

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Large files
*.pack
#test

# Fabric
network.bak.*